* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}

.infoBox {
	position: absolute;
	left: 50vw;
	width: 50vw;
	height: 100vh;
	padding: 20px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.722);
	color: aliceblue;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 14px;
	line-height: 1.3em;
	cursor: help;
	transform: scale(0, 0);
	transform-origin: right;
	transition: transform 0.3s;
}

.infoBox.visible {
	transform: scale(1, 1);
}
